#container {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 50px;
}
#canvas1 {
    outline: 3px solid #BB0000;
}

#canvas2 {
    outline: 3px solid #00BB00;
}

#canvas3 {
    outline: 3px solid #0000BB;
}
