#canvas {
    outline: 2px solid #666666;
}

.values {
    font-size: 1.15em;
}

.values .purple {
    color: purple;
    font-weight: bold;
}

.values .blue {
    color: blue;
    font-weight: bold;
}

.values .red {
    color: red;
    font-weight: bold;
}
